<header class="bg-bg py-3">
    <div class="container">
        <p class="m-0 text-center fw-light">Tumbuh kembang sehat balita Indonesia adalah prioritas utama kami, kami
            mengikuti praktik terbaik untuk kebersihan dan kesejahteraan</p>
    </div>
</header>
<nav class="navbar navbar-expand-lg py-3">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="#"><img src="img/Logo.svg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index.html">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/informasi-terkini.html">Informasi Terkini</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kalkulator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/informasi-ahli-gizi.html">Ahli Gizi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Forum</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Layanan Lainnya
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Menu Sehat Balita</a></li>
                        <li><a class="dropdown-item" href="/artikel-pendidikan-kesehatan.html">Artikel Pendidikan
                                Kesehatan</a></li>
                        <li><a class="dropdown-item" href="/lokasi-pelayanan-kesehatan.html">Lokasi Pelayanan
                                Kesehatan</a></li>
                        <li><a class="dropdown-item" href="/program-dan-kebijakan.html">Program dan Kebijakan</a></li>
                        <li><a class="dropdown-item" href="#">Grafik Gizi Indonesia</a></li>
                        <li><a class="dropdown-item" href="/acara-kesehatan.html">Acara Kesehatan Balita</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="btn bg-primary" href="#">Masuk/Daftar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
